<section class="section-container">
<div>
    <div id="name">PATRICIO FERREIRA
    </div>

    <div> <button> DESCARGAR CV </button></div>

    <div id="home-par" class="par">Hola! Mi nombre es Patricio Ferreira, me encuentro en proceso de terminar mi carrera de grado en la Licenciatura en Sociología y trabajo desde hace algunos años en consultoría de datos. Tengo experiencia tanto en la organización de relevamientos territoriales como en manipulación y análisis de bases de datos. Comencé en el 2022 a complementar mi formación con conocimientos digitales de desarrollo web y machine learning.</div>

</div>

<div id="picture">
    <img id= "profile" src="../assets/profile.jpg" alt="Patricio Ferreira" title="Patricio Ferreira">
</div>
</section>