<section class="content_section" id="experience">
    <div class="section_title">
        experiencias laborales
    </div>
    <div class="exp_esp" id="exp_1">
            <div class="exp_title">
                Centro de Estudios Sociales
            </div>

            <div class="exp_date">
                Agosto 2020 - Actualidad
            </div>

            <div class="desc_text">
                Diseño de muestras y coordinación de campo en relevamientos de opinión pública. Desarrollo de grupos focales. Análisis de datos. Redacción de informes
            </div>
            <div class="desc_skills">
                <button>EXCEL</button>
                <button>SPSS</button>
                <button>MyMaps</button>
            </div>
    </div>

    <div class="exp_esp" id="exp_2">
            <div class="exp_title">
                Laboratorio de Hidroecología - INALI
            </div>
            <div class="exp_date">
                Mayo 2019 - Diciembre 2020
            </div>

            <div class="desc_text">
                Consolidación de base de datos y producción de informe en base a relevamiento realizado a pescadores de la Provincia de Santa Fe
            </div>
            <div class="desc_skills">
                <button>EXCEL</button>
                <button>SPSS</button>
            </div>
    </div>

    <div class="exp_esp" id="exp_2">
        <div class="exp_title">
            Junta de Salud Mental - Min. Salud Santa Fe
        </div>
        <div class="exp_date">
            Mayo 2017 - Diciembre 2017
        </div>

        <div class="desc_text">
            Diseño de base de datos y relevamiento de información contenida en los informes redactados por la Junta de Salud Mental. Análisis y descripción de los datos obtenidos de la sistematización. 
        </div>
        <div class="desc_skills">
            <button>EXCEL</button>
            <button>SPSS</button>
        </div>
    </div>

    <div class="exp_esp" id="exp_2">
        <div class="exp_title">
            Becas de Investigación (CIN-Cientibeca)
        </div>
        <div class="exp_date">
            Mayo 2017 - Diciembre 2017
        </div>

        <div class="desc_text">
            Becario de grado en investigación cualitativa. Desarrollo de preguntas de investigación, diseño de abordaje metodológico, realización de entrevistas en profundiada y grupos focales.
        </div>
        <div class="desc_skills">
            <button>ATLAS.ti</button>
            <button>Mendeley</button>
        </div>
    </div>
</section>
