<section class="content_section" id="experience">
    <div class="section_title">
        experiencias laborales
    </div>
    <div class="exp_esp" id="exp_1">
        <span class="title_date">
            <div class="exp_title">
                Centro de Estudios Sociales
            </div>

            <div class="space">
            </div>

            <div class="exp_date">
                Agosto 2020 - Actualidad
            </div>
        </span>
        <span class="description">
            <div class="desc_text">
                Diseño de muestras y coordinación de campo en relevamientos de opinión pública. Desarrollo de grupos focales. Análisis de datos. Redacción de informes
            </div>
            <div class="desc_skills">
                <button>EXCEL</button>
                <button>SPSS</button>
                <button>MyMaps</button>
            </div>
        </span>
    </div>

    <div class="exp_esp" id="exp_2">
        <span class="title_date">
            <div class="exp_title">
                Laboratorio de Hidroecología - INALI
            </div>
            <div class="exp_date">
                Mayo 2019 - Diciembre 2020
            </div>
        </span>
        <span class="description">
            <div class="desc_text">
                Consolidación de base de datos y producción de informe en base a relevamiento realizado a pescadores de la Provincia de Santa Fe
            </div>
            <div class="desc_skills">
                <button>EXCEL</button>
                <button>SPSS</button>
            </div>
        </span>
    </div>
</section>
